In [4]:
import pandas as pd

In [88]:
def count_top3(year_list):
    for year in year_list:
        df = pd.read_csv('usa_names/yob'+str(year)+'.txt', names=['Name', 'Sex', 'Count'])
        df.sort_values(by='Count', axis=0, ascending=False, inplace=True)
        top3 = dict(zip(list(df['Name'])[:3], list(df['Count'])[:3]))
        print('in {} 3 most popular name were: {}'.format(year, top3))

In [89]:
count_top3([1900, 1950, 2000])

in 1900 3 most popular name were: {'Mary': 16707, 'John': 9829, 'William': 8579}
in 1950 3 most popular name were: {'James': 86266, 'Robert': 83590, 'Linda': 80439}
in 2000 3 most popular name were: {'Jacob': 34467, 'Michael': 32028, 'Matthew': 28572}

In [103]:
def count_sex(year_list):
    for year in year_list:
        df = pd.read_csv('usa_names/yob'+str(year)+'.txt', names=['Name', 'Sex', 'Count'])
        female = df[df['Sex'] == 'F'].sum().Count
        male = df[df['Sex'] == 'M'].sum().Count
        print('for {} there is information about {:7d} men and {:7d} women names'.format(year, male, female))

In [104]:
count_sex([1900, 1950, 2000])

for 1900 there is information about  150490 men and  299822 women names
for 1950 there is information about 1791474 men and 1713450 women names
for 2000 there is information about 1962556 men and 1814738 women names